@import "tailwindcss";
@import "react-loading-skeleton/dist/skeleton.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --skeleton-base: #e5e5e5;
  --skeleton-highlight: #f5f5f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --skeleton-base: #27272a;
    --skeleton-highlight: #3f3f46;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
